:root {
  --input-label-color: var(--color-gray-dark);
  --input-label-size: var(--caption-size-sm);

  --control-background-color: var(--color-brand-soft-light);
  --control-border-color: var(--color-brand-soft);
  --control-focus-shadow: 0 0 0 2px var(--color-brand-soft);
  --control-focus-border-color: #{mix($color-brand, #fff, 50%)};

  --select-arrow-color: var(--color-brand);

  --check-checked-color: var(--color-brand);

  --switch-color: var(--color-brand-soft);
  --switch-checked-color: var(--color-brand);
  --switch-hander-shadow: 0 0 3px rgba(var(--color-brand-rgb), 0.5);

  --range-thumb-color: var(--color-brand);
  --range-track-color: var(--color-brand-light);
  --range-track-taken-color: var(--color-brand);

  --file-button-background-color: var(--color-brand-soft);
}
