:root {
  --font-family: Rubik, 'Segoe UI', Roboto, 'Helvetica Neue', -apple-system, sans-serif;
  --font-family-mono: 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', Menlo, Courier, monospace;

  --line-height: 1.4;
  --heading-line-height: 1.2;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.825rem;
  --font-size: 0.95rem;
  --font-size-lg: 1.75rem;
  --font-size-xl: 2.125rem;
  --font-size-xxl: 3rem;

  --text-size: var(--font-size);
  --h1-size: 3rem;
  --h2-size: 2.125rem;
  --h3-size: 1.75rem;
  --h4-size: 0.95rem;
  --h5-size: 0.9rem;
  --h6-size: 0.85rem;
  --caption-size-sm: 0.75rem;
  --caption-size: 0.825rem;
  --small-size: 75%;
  --label-size: 0.75rem;
}
