.muted {
  color: var(--color-black-lighter);
}

.soft {
  color: var(--color-gray);
}

.brand {
  color: var(--color-brand);
}

.brand-light {
  color: var(--color-brand-light);
}

.brand-lighter {
  color: var(--color-brand-lighter);
}

.brand-soft {
  color: var(--color-brand-soft);
}

.brand-soft-light {
  color: var(--color-brand-soft-light);
}

.success {
  color: var(--color-success);
}

.success-light {
  color: var(--color-success-light);
}

.danger {
  color: var(--color-danger);
}

.danger-light {
  color: var(--color-danger-light);
}

.info {
  color: var(--color-info);
}

.info-light {
  color: var(--color-info-light);
}

.warning {
  color: var(--color-warning);
}

.warning-light {
  color: var(--color-warning-light);
}

.purple {
  color: var(--color-purple);
}

.purple-light {
  color: var(--color-purple-light);
}

.white {
  color: var(--color-white);
}

.black {
  color: var(--color-black);
}

.black-light {
  color: var(--color-black-light);
}

.black-lighter {
  color: var(--color-black-lighter);
}

.gray {
  color: var(--color-gray);
}

.gray-light {
  color: var(--color-gray-light);
}

.gray-lighter {
  color: var(--color-gray-lighter);
}

.bg-brand {
  background-color: var(--color-brand);
}

.bg-brand-light {
  background-color: var(--color-brand-light);
}

.bg-brand-lighter {
  background-color: var(--color-brand-lighter);
}

.bg-brand-soft {
  background-color: var(--color-brand-soft);
}

.bg-brand-soft-light {
  background-color: var(--color-brand-soft-light);
}

.bg-success {
  background-color: var(--color-success);
}

.bg-success-light {
  background-color: var(--color-success-light);
}

.bg-danger {
  background-color: var(--color-danger);
}

.bg-danger-light {
  background-color: var(--color-danger-light);
}

.bg-info {
  background-color: var(--color-info);
}

.bg-info-light {
  background-color: var(--color-info-light);
}

.bg-warning {
  background-color: var(--color-warning);
}

.bg-warning-light {
  background-color: var(--color-warning-light);
}

.bg-purple {
  background-color: var(--color-purple);
}

.bg-purple-light {
  background-color: var(--color-purple-light);
}

.bg-white {
  background-color: var(--color-white);
}

.bg-black {
  background-color: var(--color-black);
}

.bg-black-light {
  background-color: var(--color-black-light);
}

.bg-black-lighter {
  background-color: var(--color-black-lighter);
}

.bg-gray {
  background-color: var(--color-gray);
}

.bg-gray-light {
  background-color: var(--color-gray-light);
}

.bg-gray-lighter {
  background-color: var(--color-gray-lighter);
}

.bg-none {
  background-color: transparent;
}
