.collapsible {
  display: flex;
  flex: 1;
  flex-direction: column;

  &:last-child {
    border-bottom: 1px solid var(--color-gray-light);
  }
}

.collapsible__header {
  align-items: center;
  border-top: 1px solid var(--color-gray-light);
  cursor: pointer;
  display: flex;
  min-height: 40px;
  padding: var(--space-2) var(--space-10) var(--space-2) var(--space-3);
  position: relative;
  transition: var(--transition-default);
  width: 100%;

  &:hover {
    background-color: var(--color-gray-lighter);
  }

  &::after {
    background: var(--color-brand);
    clip-path: polygon(0 0, 50% 100%, 100% 0, 85% 0, 50% 70%, 15% 0);
    content: '';
    height: 8px;
    position: absolute;
    right: var(--space-3);
    transition: var(--transition-default);
    width: 16px;
  }
}

.collapsible__header--open {
  color: var(--color-brand);

  &::after {
    transform: rotate(90deg);
  }
}

.collapsible__body {
  padding: var(--space-2) var(--space-3);
  transition: var(--transition-default);

  > :last-child {
    margin-bottom: 0;
  }
}
