select.input__control {
  padding-right: var(--space-8);
  padding-top: calc(var(--space-1) + 1px);
}

.input__select {
  position: relative;
  width: 100%;

  &::after {
    background: var(--select-arrow-color);
    clip-path: polygon(0 0, 50% 100%, 100% 0, 85% 0, 50% 70%, 15% 0);
    content: '';
    height: 8px;
    pointer-events: none;
    position: absolute;
    right: var(--space-2);
    top: var(--space-4);
    width: 16px;
  }
}
