.pagination {
  display: flex;
}

.pagination__item {
  border-radius: 1px;
  display: grid;
  height: var(--space-8);
  line-height: 1;
  min-width: var(--space-8);
  padding: 0 var(--space-3);
  place-items: center;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.active {
    background-color: var(--color-brand);
    color: var(--color-white);
  }
}

.pagination__title {
  font-size: 1.5rem;
  margin: 0;
}

.pagination--simple {
  justify-content: space-between;

  .pagination__item {
    flex-direction: column;
    height: auto;
    line-height: 1.25;
  }
}

.pagination__item--prev {
  margin-right: var(--space-4);
  padding: 0;

  .pagination--simple & {
    place-items: flex-start;
  }
}

.pagination__item--next {
  margin-left: var(--space-4);
  padding: 0;

  .pagination--simple & {
    place-items: flex-end;
  }
}
