h1, h2, h3, h4, h5, h6, p,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: var(--space-4);
}

h1, h2, h3,
.h1, .h2, .h3 {
  font-weight: 300;
  line-height: var(--heading-line-height);
}

h1,
.h1 {
  font-size: var(--h1-size);
}

h2,
.h2 {
  font-size: var(--h2-size);
}

h3,
.h3 {
  font-size: var(--h3-size);
}

h4,
.h4 {
  font-size: var(--h4-size);
  font-weight: 500;
}

h5,
.h5 {
  font-size: var(--h5-size);
  text-transform: uppercase;
}

h6,
.h6 {
  font-size: var(--h6-size);
  text-transform: uppercase;
}

a {
  color: var(--color-brand);
  outline: 0;
  text-decoration: none;

  &:focus {
    box-shadow: var(--color-gray);
  }

  &:hover {
    text-decoration: underline;
  }
}

b, strong,
.strong {
  font-weight: 700;
}

i, em, cite, var,
.italic {
  font-style: italic;
}

small,
.small {
  font-size: var(--small-size);
}

code,
.code {
  background-color: var(--color-gray-light);
  border-radius: 2px;
  color: var(--color-black-light);
  font-family: var(--font-family-mono);
  font-size: var(--font-size-sm);
  padding: 0.1rem var(--space-1);
}

mark,
.highlighted {
  background-color: #fff200;
  border-radius: 2px;
  padding: 0 var(--space-1);
}

samp {
  font-family: var(--font-family-mono);
}

sub, sup {
  font-size: var(--font-size-xs);
}

abbr {
  border-bottom: 1px dotted;
  text-decoration: none;
}

kbd {
  background-color: var(--color-black);
  border-radius: 2px;
  color: var(--color-white);
  font-family: var(--font-family-mono);
  font-size: var(--font-size-sm);
  padding: 0.1rem var(--space-1);
}

ul, ol {
  margin-bottom: var(--space-4);
  padding-left: var(--space-6);

  ul, ol {
    margin: var(--space-1) 0 var(--space-2);
  }
}

dd {
  margin-bottom: var(--space-4);
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: var(--space-2);
}

blockquote,
.blockquote {
  border-left: 2px solid var(--color-brand-light);
  padding: var(--space-4) var(--space-6);
}

.caption {
  color: var(--color-black-lighter);
  font-size: var(--caption-size);
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.caption--sm {
  color: var(--color-gray-dark);
  font-size: var(--caption-size-sm);
  font-weight: 500;
}
